# Ignore data files
inputData/
*.csv
*.fa
*.fasta
# Exception: processed feature sets needed for reproducibility
!final_featuresets/*.csv

# Ignore Jupyter/Python temp files
.ipynb_checkpoints/
__pycache__/
*.pyc
